.App {
  text-align: left;
  font-size: large;
  display: block;
}

.App-header {
  background-color: #337ab7;
  padding: 2px;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

Panel header {
    height: 100px;
}

input[type="button"] {
      margin-top: 10px;
}

#answerPlace {
    display: block;
    font-weight: normal;
     font-size: large;
    text-align: center;
}

#answerPlace Button{
     font-size: large;
}

Answer{
    display: block;
    font-weight: normal;
    text-align: center;
}

#questionPlace {
    min-height: 75px;
    text-align: center;
}
